@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Validação de inscrição estadual via a dll Sintegra.dll</h1> *@
@*     <p>Nesta pequena aplicação MVC usando .NET Core 6, utilizamos uma dll que só roda em arquiteturas x86, em uma aplicação recente.</p> *@
@*     <p>Para isso foi criada uma aplicação console local, onde essa nossa aplicação mvc com TargetPlatform AnyCpu ela faz sua chamada.</p> *@
@*     <p>Em outro artigo eu também ensino como fazer isso através do consumo de uma API. Caso se interesse, o artigo está no meu perfil do Medium</p> *@
@*     <p>Para saber detalhadamente como isso foi feito, acesse o artigo que eu fiz sobre <a href="https://www.linkedin.com/in/richallyson-lima-8a3640160/">como utilizar o sintegra.dll em aplicações com arquiteturas mais atuais.</a>.</p> *@
@*     <p>Me siga no meu <a href="https://www.linkedin.com/in/richallyson-lima-8a3640160/">Linkedin</a> para ficar por dentro dos futuros conteúdos que irei postar.</p> *@
@* </div> *@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">Validação de inscrição estadual via a dll Sintegra.dll</h1>
            <p class="mt-4">Nesta pequena aplicação MVC usando .NET Core 6, utilizamos uma dll que só roda em arquiteturas x86, em uma aplicação recente.</p>
            <p>Para isso foi criada uma aplicação console local, onde essa nossa aplicação mvc com TargetPlatform AnyCpu faz sua chamada.</p>
            <p>Em outro artigo eu também ensino como fazer isso através do consumo de uma API. Caso se interesse, o artigo está no meu perfil do <a href="https://www.linkedin.com/in/richallyson-lima-8a3640160/">Medium</a></p>
            <p>Para saber detalhadamente como isso foi feito, acesse o artigo que eu fiz sobre <a href="https://www.linkedin.com/in/richallyson-lima-8a3640160/">como utilizar o sintegra.dll em aplicações com arquiteturas mais atuais através de uma aplicação console local.</a>.</p>
            <p>Me siga no meu <a href="https://www.linkedin.com/in/richallyson-lima-8a3640160/">Linkedin</a> para ficar por dentro dos futuros conteúdos que irei postar.</p>
            <p class="mt-4">Os artigos no Medium ainda estão em produção, caso veja esse repositório antes disso.</p>
        </div>
    </div>
</div>